[Desktop Entry]
Version=1.0
Name=xinvaders3d
GenericName=X Invaders 3D
Comment=X Invaders 3D is a 3D Vector Graphics Space Invaders clone for X11.
TryExec=xinvaders3d
Exec=xinvaders3d
Icon=xinvaders3d
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
MimeType=application/x-xinvaders3d
Keywords=space;invaders;action;arcade;game;X;window;
